<!DOCTYPE html>
<html>
<head>
    <title>Healthy Diet</title>
</head>
<body>
    <h1>Healthy Diet</h1>
    <div> 
        1.Eat well and choose healthy foods. Most pregnant women need to
        eat only 100-300 extra calories per day to support a baby’s
        growth. For example, if you eat 2 eggs and 2 corn tortillas, that’s
        about 300 calories. One medium-sized apple and 2 tablespoons of
        peanut butter is about 300 calories.
        2.Eat many different fresh foods daily, including vegetables, fruits,
        protein, grains, and dairy.
        3.Watch serving sizes. You may be eating more than you need to.
        Don’t eat for two! 100-300 extra calories is not that much.
        4.Stay away from doughnuts, chips, fast food, sodas, cookies, and
        candy. Junk foods and sweets don’t support your baby’s growth.
        5.Do not eat fish with high levels of mercury like shark, swordfish,
        king mackerel, tilefish, fresh or frozen tuna steaks, or orange roughy.
        6.Do not eat unpasteurized (raw) milk and cheeses. Bacteria in
        unpasteurized milk and cheese can be dangerous. If milk or
        cheese is pasteurized, that means the bacteria has been taken out.
        <div>Stay away from soft cheeses like Mexican-style
        Queso Blanco or Fresco, Feta, or Brie. They are
        often unpasteurized.
        </div>
         </div>
    <div>
        When you cook, wash your hands and cooking surfaces often.
        Wash all fruits and vegetables before you eat them.
        Keep raw meat away from other food.
        Cook your food until it’s steaming hot. Put the food that you don’t eat in the refrigerator or the freezer.
        Never eat raw foods like meat, fish, shellfish, or eggs.
    </div>
</body>
</html>